<p id="notice"><%= notice %></p>

<p>
  <b>Actual duration:</b>
  <%= @performance.actual_duration %>
</p>


<%= link_to 'Edit', edit_performance_path(@performance) %> |
<%= link_to 'Back', performances_path %>
