<h1>Home#index</h1>
<%= link_to Routine.name.pluralize, routines_path %>
<%= link_to Task.name.pluralize, tasks_path %>
<%= link_to Performance.name.pluralize, performances_path %>
<p>Find me in app/views/home/index.html.erb</p>
